body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100vw;
  background-color: #7fffd4;
  padding: 10px 0;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-right: 50px;
  margin: 0;
}

ul button {
  margin-left: 20px;
}

nav button {
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #7fffd4;
  transition: background 0.2s ease, border-bottom 0.2s ease;
  font-size: 18px;
  font-weight: 600;
}

nav button:hover {
  background: rgb(255, 220, 144);
  background: linear-gradient(
    0deg,
    rgba(255, 220, 144, 1) 0%,
    rgba(127, 255, 212, 1) 100%
  );
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-text h1 {
  font-size: 3rem;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  height: 400px;
}

.main p {
  font-size: 20px;
}

.main div {
  width: 400px;
  flex: 1;
}

.main-text {
  max-width: 300px;
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-text button {
  height: 60px;
  width: 200px;
  font-size: 20px;
  background-color: #7fffd4;
  border: none;
  border-radius: 10px;
}

.main img {
  flex: 1;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 30px;
}
